# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
logs/*.log
pids
*.pid
*.seed
*.pid.lock




# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

# VS Code directories
.vscode/

# Docker
docker-compose.override.yml
.dockerignore

# MacOS system files
.DS_Store

# IDE files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
